{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h3>Nuevo Post</h3>
    <form action="/post/update/{{single_post['id']}}" method="post">
        <div class="mb-3">
            <label class="form-label" for="title_title">Título</label>
            <input type="text" id="title_title" class="form-control" name="title_title" required value="{{single_post['title']}}">
        </div>
        <div class="mb-3">
            <label class="form-label" for="content_content">Contenido</label>
            <textarea id="content_content" class="form-control" name="content_content" rows="4" required>{{single_post['title']}}</textarea>
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
        <a href="/home" class="btn btn-link">Volver</a>
    </form>
</div>
{% endblock %}